{% extends 'nascar/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
  {{ the_title }} Boo!
{% endblock %}
{% block content %}
  debug:<br />
  {{ debug_info }}
  <form method="post" action="">
    {% csrf_token %}
    {% comment %} {{ form }} {% endcomment %}
    {% if races %}
      <table>
        <th align="left">Delete</th>
        <th align="left">Date</th>
        <th align="left">Race</th>
        <th align="left">Track</th>
        {% for race in races %}
          <tr>
            <td>
              <input type="checkbox" id="{{ race.id }}" name="delete_checkbox" />
            </td>
            <td id="{{ race.pk }}">{{ race.race_date }}</td>
            <td>{{ race.race_name }}</td>
            <td>{{ race.track }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
    {% comment %} {{ form.as_p }} {% endcomment %}
    <a class="btn btn-primary" href="create">Create Race</a>
    <a class="btn btn-danger" href="delete">Delete Selected Races 1</a>

    <input class="btn btn-danger" type="submit" value="Delete Selected Races 2" />
  </form>
{% endblock %}
